@import "./theme.scss";

#root > .container {
  padding-top: $spacer;
  padding-bottom: max($navbar-brand-height, $nav-link-height) + 2 * $spacer;
}

.row{
    position: relative;
    padding-bottom: 1rem;
}

.div-full{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    position: absolute;

    animation-name: changeBg;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-direction: alternate;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(3px) brightness(75%) contrast(75%);

    width: 100vw;
    height: 100vh;
}

.container-background{
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin: auto;

    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;

    border-radius: 2rem;
}

h1{
    text-align: center;
    padding-top: 1rem;
    font-weight: bolder;
}

.player-container {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  margin: auto;

  > * {
    position: absolute;
    padding: 0;
  }

  > .player {
    width: 100% !important;
    height: 100% !important;
    video {
      width: 100% !important;
      height: 100% !important;
    }
  }

  > .player-option-left {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 50%;
  }

  > .player-option-right {
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 50%;
  }

  > .player-progress {
    bottom: 0;
    right: 0;
    width: 100%;
  }
}

@keyframes changeBg{
    0%, 40% {
        background-image: url(../public/img/mlu.jpg);
    }
    60%, 100% {
        background-image: url(../public/img/hsa.jpg);
    }
 }
