$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$primary: rgb(24, 83, 1);

$font-family: "Open Sans", "Roboto", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "~bootstrap/scss/bootstrap";